<main class="container my-5">
  <div class="d-flex gap-5 mb-5">
    <div class="col d-flex flex-column">
      <div class="mb-3"> < input /> </div>
      <label>Label</label>
      <input placeholder="Placeholder"/>
    </div>
    <div class="col d-flex flex-column">
      <div class="mb-3 text-secondary"> $:hover </div>
      <label>Label</label>
      <input class="input-hover" placeholder="Placeholder"/>
    </div>
    <div class="col d-flex flex-column">
      <div class="mb-3 text-secondary"> $:focus </div>
      <label>Label</label>
      <input class="input-focus" placeholder="Placeholder"/>
    </div>
  </div>

  <div class="d-flex gap-5 mb-5">
    <div class="col d-flex flex-column">
      <div class="mb-3"> < input error /> </div>
      <label>Label</label>
      <input error placeholder="Placeholder"/>
    </div>
    <div class="col d-flex flex-column">
      <div class="mb-3 text-secondary"> $:hover </div>
      <label>Label</label>
      <input class="input-error-hover" placeholder="Placeholder"/>
    </div>
    <div class="col d-flex flex-column">
      <div class="mb-3 text-secondary"> $:focus </div>
      <label>Label</label>
      <input class="input-error-focus" placeholder="Placeholder"/>
    </div>
  </div>
  
  <div class="d-flex gap-5 mb-5">
    <div class="col d-flex flex-column">
      <div class="mb-3"> < input error /> </div>
      <label>Label</label>
      <input disabled placeholder="Placeholder"/>
    </div>
    <div class="col d-flex flex-column"></div>
    <div class="col d-flex flex-column"></div>
  </div>

  <div class="d-flex gap-5 mb-5">
    <div class="col d-flex flex-column">
      <div class="mb-3"> < input helperText="Some interesting text" /> </div>
      <label>Label</label>
      <input helper="Some interesting text" placeholder="Placeholder"/>
      <div id="input-helper">Some interesting text</div>
    </div>
    <div class="col d-flex flex-column">
      <div class="mb-3"> < input helperText error /> </div>
      <label>Label</label>
      <input helper="Some interesting text" error placeholder="Placeholder"/>
      <div class="text-danger">Some interesting text</div>
    </div>
    <div class="col-3"></div>
  </div>

  <div class="d-flex gap-5 mb-5">
    <div class="col d-flex flex-column">
      <div class="mb-3"> < input class="startIcon" /> </div>
      <label>Label</label>
      <div class="startIcon">
        <i class="bi bi-telephone-fill"></i>
        <input placeholder="Placeholder"/>
      </div>
    </div>
    <div class="col d-flex flex-column">
      <div class="mb-3"> < input class="endIcon" /> </div>
      <label>Label</label>
      <div class="endIcon">
        <i class="bi bi-lock-fill"></i>
        <input placeholder="Placeholder"/>
      </div>
    </div>
    <div class="col-3"></div>
  </div>

  <div class="d-flex gap-5 mb-5">
    <div class="col d-flex flex-column">
      <div class="mb-3"> < input class="size-sm" /> </div>
      <label>Label</label>
      <input class="size-sm" placeholder="Placeholder"/>
    </div>
    <div class="col d-flex flex-column">
      <div class="mb-3"> < input class="size-md" /> </div>
      <label>Label</label>
      <input class="size-md" placeholder="Placeholder"/>
    </div>
    <div class="col-3"></div>
  </div>

  <div class="d-flex gap-5 mb-5">
    <div class="col d-flex flex-column">
      <div class="mb-3"> < input class="fullWidth" /> </div>
      <label>Label</label>
      <input class="fullWidth" placeholder="Placeholder"/>
    </div>
  </div>

  <div class="d-flex gap-5 mb-5">
    <div class="col d-flex flex-column">
      <div class="mb-3"> < input class="multiline row-4" /> </div>
      <label>Label</label>
      <input class="multiline row-4" type="text" placeholder="Placeholder"/>
    </div>
  </div>
</main>